# Compiled output
bin

# Version control
.git
.gitignore

# CI/CD files.
.github

# IDE Metadata
.idea
.vscode

# Config
config

# Profiling data
pprof

# Logs
logs
.logs
*.log

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/
